<%= form_with(model: tasks_label, local: true) do |form| %>
  <% if tasks_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tasks_label.errors.count, "error") %> prohibited this tasks_label from being saved:</h2>

      <ul>
      <% tasks_label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label_id %>
    <%= form.text_field :label_id %>
  </div>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.text_field :task_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
