<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @tasks_label.label %>
</p>

<p>
  <strong>Task:</strong>
  <%= @tasks_label.task %>
</p>

<%= link_to 'Edit', edit_tasks_label_path(@tasks_label) %> |
<%= link_to 'Back', tasks_labels_path %>
