<div class="container navigation_bar">
  <p id="notice"><%= notice %></p>
  <h1>Tasks</h1>
  <%= search_form_for @search do |f| %>
    <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <%= f.text_field :title_or_status_cont, class:"form-control btn-search",style:'margin-bottom:0px; width:40%',placeholder:'Enter a title or status you want to search: '%>
        <%= f.submit "Search", class:'btn btn-info class="btn btn-primary mb-2'%>
       </div>
    </form>
    
  <%end%>
  <br>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Created_Time</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Action</th>

        <th colspan="3"></th>
      </tr>
      
    </thead>  
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.content %></td>
          <td><%= task.start_date %></td>
          <td><%= task.end_date %></td>
          <td><%= task.created_at %></td>
          <td><%= task.status%></td>
          <td><%= task.priority %></td>
          <td><%= link_to 'Show', task, class:'btn btn-secondary btn-sm' %>
           <%= link_to 'Edit', edit_task_path(task), class:'btn btn-warning btn-sm' %>
          <%= link_to 'Destroy', task, class:'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= paginate @tasks %>
  <%= link_to 'New Task', new_task_path, class:'btn btn-primary'%>
  <br>
  <div id="links">
    <%= link_to 'Sort By created_at', tasks_path(sort_with_created_at: 'true'), class:'btn btn-secondary my_links'%>
    <%= link_to 'Sort By deadline', tasks_path(sort_with_ended_at: 'true'), class:'btn btn-secondary my_links'%>
    <%= link_to 'Sort By Priority', tasks_path(sort_with_priority: 'true'), class:'btn btn-secondary my_links'%> 
  </div>
</div>


