<p id="notice"><%= notice %></p>
<h1>Tasks</h1>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Created_Time</th>
      <th>Status</th>
      <th>Priority</th>

      <th colspan="3"></th>
    </tr>
  </thead>  
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.start_date %></td>
        <td><%= task.end_date %></td>
        <td><%= task.created_at %></td>
        <td><%= task.status%></td>
        <td><%= task.priority %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>
<br>

<%= paginate @tasks %>

<%= link_to 'New Task', new_task_path, style:'margin-bottom:20px;'%>
<br>
<%= link_to 'Sort By created_at', tasks_path(sort_with_created_at: 'true')%>
<%= link_to 'Sort By deadline', tasks_path(sort_with_ended_at: 'true')%>
<%= link_to 'Sort By Priority', tasks_path(sort_with_priority: 'true')%> 



