<% if logged_in? %>
   <div class="container navigation_bar">
    <h4>New Task</h4>
      <%= render 'form', task: @task %>
      <%= link_to 'Back', tasks_path, class:'btn-create btn btn-secondary' %>
   </div>
   <%else%>
       <div class="container card sign-up" style="width: 20rem; height: 30rem">
      <p>If not registed <%= link_to "Sign up", new_user_path %></p>
      <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %> 
        <div class="form-group">
          <%= f.label :email, class:'font-weight-bold' %>
          <%= f.email_field :email, class:"form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :password , class:'font-weight-bold'%>
          <%= f.password_field :password, class:"form-control" %>
        </div>
      <%= f.submit "Log in" ,class:"btn btn-primary font-weight-bold sign-up-btn" %>     
      <% end %>
    </div>
<%end%>
