<%= form_with(model: label, local: true) do |form| %>
<% if label.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(label.errors.count, "error") %> prohibited this label from being saved:</h2>

    <ul>
    <% label.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :Content %>
  <%= form.text_area :title, class:"form-control" %>
</div>

<div class="form-group">
  <%# <%= form.label :user_id %>
  <%= form.hidden_field :user_id, value: current_user.id, class:"form-control" %>
</div>

<div class="actions">
  <%= form.submit class:"btn btn-primary rounded-pill float-left", style:"margin-right:10px;" %>
</div>
<% end %>
