<% if logged_in? %>
<div class="container navigation_bar card">
  <div class="card-body">
    <p>Name: <%= @user.name %></p>
    <p>Email address: <%= @user.email %></p>
  <div>
  <h4>Tasks</h4>
  <% @user.tasks.each do |item| %>
    <tr>
        <td><%= item.title%></td>
        <td><%= item.content%></td>
        <td><%= item.start_date%></td>
        <td><%= item.end_date%></td>
        <td><%= item.status%></td>
        <td><%= item.priority%></td>
    </tr>     
    <%end%>  

  <div class="card-footer">
    <%= link_to 'Back', users_path, class:'btn btn-secondary btn-sm' %>
    <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-warning btn-sm' %>
  <div>  
</div>
<%end%>
